<div class="col-md-8 offset-md-3">
    <h3>Update Device</h3>
    <br>
    <form>
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <div class="form-group">
            <label for="deviceName"> Device Name</label>
            <input type="text" class="form-control" id="deviceName"
               name="deviceName" [(ngModel)]="device.deviceName">
                <!-- [(ngModel)] = "smartdevices.devicename" name="devicename"> -->
        </div>   
    
        <div class="form-group">
            <label for="deviceStatus"> Status</label>
        <input type="text" class="form-control" id="deviceStatus"
             name="deviceStatus" [(ngModel)]="device.deviceStatus">
            <!-- [(ngModel)] = "smartdevices.status" name="status"> -->
    
        </div>
        <br>
    
        <button class="btn btn-success" type="submit" (click)="updateDevice(device.id)"> Submit </button>
    
    
    
        
        <!-- <div class="container">
            <router-outlet></router-outlet>
        
        
        </div> -->
    
    </form>
    </div>
